---
const { href, name } = Astro.props;
---

<li class="no-underline list-none">
    <a href={href} class="bg-transparent flex-col lg:flex-row mb-0 text-text-secondary text-base select-none flex items-center gap-0 lg:gap-3 cursor-pointer px-6 py-3 rounded-3xl border-none hover:bg-transparent lg:hover:bg-elevation-two">
        <div class="lg:hidden block transition-all duration-500 ease-[var(--bezier-one)] delay-300 mb-2 px-6 py-1.5 rounded-[100px]">
			<slot/>
		</div>
        <h5 class="transition-all duration-300 ease-[var(--bezier-one)] delay-500 opacity-80" >
			{name}
		</h5>
    </a>
</li>