---
import { StickyHeader, Astronav, MenuItems} from "astro-navbar";
import Nav from '../atoms/Nav.astro';
---

<div class="flex justify-center">
    <StickyHeader 
    class="fixed z-20 rounded-xl backdrop-blur-lg bg-blend-overlay transition-all duration-500 ease-in-out top-0" 
    scrollY={20} 
    defaultClass="w-full lg:w-[40rem]"
    activeClass="w-[34rem] mt-2 px-0 py-2 bg-opacity-80 bg-elevation-two border-b-4 border-b-accent-opacity border-solid drop-shadow-lg"
    >
        <Astronav>
          <MenuItems>
            <ul class="flex gap-16 justify-center transitio" >
              <Nav href="#home" name="< / >" />
              <Nav href="#about" name="about" />
              <Nav href="#code" name="work" />
            </ul>
          </MenuItems>
        </Astronav>
    </StickyHeader>
</div>