---
import { Icon } from 'astro-icon/components';
import Social from '../atoms/Social.astro';
---

<div class="socials-container flex gap-3">
    <Social link="https://github.com/sailorsnow">
		<Icon size=24 name="iconoir:github" class="text-accent" />
	</Social>

    <Social link="https://discord.com/users/108176102614147072">
        <Icon size=24 name="iconoir:discord"class="text-accent" />
	</Social>

    <Social link="mailto:loislag@pm.me">
        <Icon size=24 name="iconoir:mail" class="text-accent" />
	</Social>
</div>