---
import HeroImage from '../../components/atoms/HeroImage.svelte';
import Socials from '../molecules/Socials.astro';
import OutlineText from '../atoms/OutlineText.astro';
import HeroButton from '../atoms/HeroButton.astro';
---

<section id="home" class="wrapper block sm:flex justify-between items-center mt-16 lg:mt-28 mb-11 md:mb-24">
	<div>
        <OutlineText content=">_" translateX="-95%" translateY="-30%" letterSpacing="-0.1em">
            <h1 class="text-6xl lg:text-8xl">Loïs / SnoW</h1>
        </OutlineText>
        <h4 class="mt-4 text-2xl lg:text-4xl">Full-Stack Developer & hobbyist gamer. <br />Love sys-admin and selfhost.</h4>
		<div class="socials mt-4 mb-[1.7rem]">
			<Socials />
		</div>
		<HeroButton />
	</div>
	<HeroImage client:load />
</section>